# Object file
*.o

# stackdumps ... 
*.stackdump

# Vim swap files
*.swp

#Merge files
*.orig

#Binary Files
*.bin

# latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz 
*.synctex
*.md5
*.dot
*.tex
/doc/*/codedocs/latex/*.pdf
*.sty
*.db
*.tmp

# matlab
*.asv
*.m~
*.mat

#Eclipse
.project
.cproject
.settings

#Misc
*~lock*
*.save

#Libraries
*.a

#Executables 
*.test
/bin/swc/swcexe
/bin/com/comexe
/bin/sch/schexe
/bin/mea/meaexe
/bin/nav/navexe
/bin/cor/corexe
/bin/chn/chnexe
/bin/chn/chnexe.exe
/bin/rcv/pyxis
/bin/tmp/tmpexe
/bin/tmp/tmpexe.exe
/test/nav/test_togeod
/test/nav/test_e_r_corr
/test/nav/test_leastSquareVel2
/test/nav/test_topocent
/test/nav/test_twosComp2dec
/test/nav/test_adjustFormat
/test/nav/test_calcDateTime
/test/nav/test_corrCarrPhase
/test/nav/test_check_t
/test/nav/test_navParityChk
/test/nav/test_parityCheck
/test/nav/test_leastSquarePos
/test/nav/test_satPosVel
/test/include/test_utils
/test/include/_test_fsm
/test/nav/test_leastSquareVel1
/test/chn/test_all
/test/chn/test_assignPrn
/test/chn/test_apt
/test/chn/test_ccr
/test/chn/test_lck_carrLockDetector
/test/chn/test_lck_codeLockDetector
/test/chn/test_lck_falsePhaseLock
/test/include/test_random
/test/include/test_ccr
/test/include/test_apt
/test/mea/test_main
/test/include/test_ccr_explode
*.exec
/test/include/test_geoFunctions

# UTILS BINARIES
/utils/max2769/app/post_Converter
/utils/max2769/app/real_Converter
/utils/max2769/app/sdrnav_app
/utils/max2769/bin/post_Converter
/utils/max2769/bin/real_Converter
/utils/max2769/bin/sdrnav_app

#perf
perf.data*
*.gcda
*.gcno
